/*----------------

top.scss

----------------*/

.p-fv {
    height: 100vh;
    @include flex(nowrap, center, center);
    flex-direction: column;

    &__ttl {
        font-size: 8rem;
        letter-spacing: 6px;
        color: $white;
        line-height: 1.3;
        text-align: center;
        margin-bottom: 1rem;
    }

    &__jp-ttl {
        color: $white;
        margin-bottom: 1rem;
    }

    &__sub-ttl {
        color: $white;
        letter-spacing: 2px;
        margin-bottom: 2rem;
    }
    
    &__img {
        width: 80%;
        max-width: 630px;
        margin: 0 auto;
    }

    @include mq-max(md) {
        &__ttl {
            font-size: 9.5vw;
            letter-spacing: 4px;
        }
    }
}

.p-intro {
    margin-bottom: 100px;

    &__text {
        max-width: 700px;
        margin: 0 auto;

        p {
            color: $white;
            font-size: 1.6rem;
        }
    }

    @include mq-max(sm) {
        &__text {
            p {
                font-size: 1.4rem;
                line-height: 2;
            }
        }
    }
}

.p-pallarax--top {
    .c-pallarax-bg__img {
        background-image: url(../images/pallarax-bg.webp);

        &::before {
            content: '';
            background:  url(../images/bg-noise.webp) repeat;
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
    }

    @include mq-max(md) {
        max-height: none;
        height: 55vh;

        .c-pallarax-bg__img {
            background-image: url(../images/pallarax-bg_sp.webp);
        }
    }
}

.p-profile {
    background: $dark-beige url(../images/bg-noise.webp) repeat;
    padding: 180px 0;
    position: relative;

    .l-container {
        max-width: 900px;
    }

    &::before {
        content: '';
        background: url(../images/bg-logo.svg) no-repeat right top / contain;
        max-width: 800px;
        width: 50%;
        aspect-ratio: 818 / 446;
        display: block;
        opacity: 0.6;
        position: absolute;
        right: 0;
        top: 0;
    }

    &__wrapper {
        display: grid;
        grid-template-columns: 340px 1fr;
        gap: 5rem;
        position: relative;
    }

    &__img {
        img {
            border-radius: 50px;
        }
    }

    &__text {
        margin-top: 100px;

        &__ttl {
            display: flex;
            gap: 1rem;
            align-items: flex-end;
            margin-bottom: 2rem;

            .c-sec-ttl-en {
                line-height: 1;
            }
        }

        &__name {
            font-size: 2rem;
        }

        &__desc {
            margin-top: 2rem;
        }
    }

    @include mq-max(md) {
        padding: 120px 0 100px;

        &::before {
            width: 80%;
        }

        &__wrapper {
            grid-template-columns: 1fr;
        }

        &__img {
            max-width: 250px;
            margin: auto;
        }

        &__text {
            margin-top: 0;
        }
    }
}